<h1>My Tasks</h1>
<ul>
  <li><%= @task.title %></li>
  <li>Details : <%= @task.details %></li>
  <li>Status : <%= @task.completed %></li>
  <li><%= link_to "Go back to the list of tasks", tasks_path%></li>
</ul>
